body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.inner {
  padding-top: 75px;
}

.bar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
  max-width: var(--mw-default);
  margin: auto;
  padding: 0 20px;
  padding-top: 15px;
}
.bar > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bar .btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--c-bg-default);
  border-radius: 50%;
  transition: var(--tr-default);
}
.bar .btn:hover {
  background-color: var(--c-bg-hover);
}

.bar svg {
  width: 22px;
  height: 22px;
  color: var(--c-text);
}

.bar .btn-like.liked svg {
  color: var(--c-pink);
  fill: var(--c-pink);
}

.wrapper {
  width: 100%;
}

.recipeImage {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

.wrapper .middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: -70px;
}

.wrapper .middle .resume,
.wrapper .middle .categories {
  min-height: 200px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--bs-ctn);
}

.wrapper .middle .resume {
  width: 100%;
  max-width: 50%;
}

.wrapper .middle .categories {
  width: 42%;
}

.wrapper .middle .categoriesList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.wrapper .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.wrapper .bottom .ingredients {
  width: 100%;
  max-width: 50%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--bs-ctn);
}

.wrapper .bottom .steps {
  overflow: hidden;
  width: 100%;
  max-width: 42%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--bs-ctn);
}

.wrapper .bottom .steps .stepsList .step {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  border-bottom: var(--b-default);
}

.wrapper .bottom .steps .stepsList .step .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  color: white;
  background-color: var(--c-default);
  border-radius: 50%;
}

.wrapper .bottom .steps .stepsList .step p {
  max-width: 80%;
}

.wrapper .bottom .ingredientsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.wrapper .bottom .ingredientsList .ingredient {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  border-bottom: var(--b-default);
}

.wrapper .bottom .ingredientsList .ingredient img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
}

.wrapper .bottom .ingredientsList .ingredient .measure {
  color: gray;
}

@media (max-width: 1615px) {
  .wrapper h2,
  .wrapper .middle p,
  .wrapper .categoriesList {
    padding-left: 20px;
  }

  .wrapper .middle {
    flex-direction: column;
    gap: 10px;
    margin-top: -50px;
  }

  .wrapper .middle .resume,
  .wrapper .middle .categories {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .wrapper .bottom {
    flex-direction: column;
  }

  .wrapper .bottom .ingredients,
  .wrapper .bottom .steps {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .wrapper .bottom .ingredientsList {
    grid-template-columns: 1fr;
  }

  .wrapper .bottom .ingredients {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .wrapper .recipeImage {
    height: 200px;
  }

  .wrapper .middle .resume h2,
  .wrapper .middle .categories h2,
  .wrapper .bottom .ingredients h2,
  .wrapper .bottom .steps h2 {
    font-size: 18px;
  }

  .wrapper .bottom .steps .stepsList .step {
    font-size: 14px;
  }

  .wrapper .bottom .ingredientsList .ingredient img {
    width: 50px;
    height: 50px;
  }
}

.wrapper footer {
  margin-top: 30px;
}
